<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>FastEvac</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" sizes="196x196" href="img/touch/touch-icon-196x196.png">
        <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">

        <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page -->
        <!--
        <link rel="canonical" href="http://www.example.com/" >
        -->

        <!-- Add to homescreen for Chrome on Android -->
        <!--
        <meta name="mobile-web-app-capable" content="yes">
        -->

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <!--
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        -->

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <!--
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css" />
        <link rel="stylesheet" href="squareui/jquery.mobile.squareui.min.css">
        <link rel="stylesheet" href="css/loginScreen.css">
        <link rel="stylesheet" href="css/alertScreen.css">
        <link rel="stylesheet" href="css/wardenDashboard.css">
        <link rel="stylesheet" href="css/statusScreen.css">

        <script src="js/vendor/modernizr-2.7.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
        <script src="js/vendor/knockout-latest.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry" type="text/javascript"></script>
    </head>
    <body>

        <!-- login page -->
        <div data-role="page" id="login_page">
            <!-- header -->
            <div data-role="header" data-position="fixed" data-add-back-btn="false" data-back-btn-text="Back"
            name="mobileheader" id="login_screen_mobileheader" class="login_screen_mobileheader" data-theme="c">
                <h1>&nbsp;</h1>
            </div>

            <!-- login form -->
            <div data-role="content" class="login_container" id="login-container" class="ui-corner-all">
                <img class="login_screen_logo_image" src="img/logo_design_1_prototype.png" id="login_screen_logo_image" name="login_screen_logo_image" />
                <form class="login_form">
                    <div class="form-group">
                        <input type="text" class="form-input" placeholder="Email" name="login_email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-input" placeholder="Password" name="login_password">
                    </div>
                    <div class="form-group">
                        <div data-role="fieldcontain">
                        <label for="flip-remember" class="flip-remember-label">Remember me:</label>
                            <select name="flip-remember" id="flip-remember" class="flip-remember" data-role="slider" data-theme="c">
                                <option value="no">No</option>
                                <option value="yes" selected>Yes</option>
                            </select> 
                        </div>
                    </div>
                    <div class="form-group" id="button_container">
                        <button type="submit" class="login_button">Sign In</button>
                    </div>
                    <div class="form-group">
                        <a href="#" class="help_link">Help Center</a>
                    </div>
                </form>
            </div>
        </div>

        <!-- alert screen page -->
        <div data-role="page" id="alertScreen" class="type-interior">
            <!-- header -->
            <div data-role="header" data-position="fixed" data-add-back-btn="false" data-back-btn-text="Back"
            name="mobileheader" id="alertScreen_mobileheader" class="alertScreen_mobileheader" data-theme="c">
                <h1>&nbsp;</h1>
                <img class="fastevac_logo_header" src="img/logo_design_1_prototype.png" id="alertScreen_fastevac_logo" name="alertScreen_fastevac_logo" />
            </div>

            <!-- alert button and popup containers -->
            <div data-role="content" id="alertScreen_mobilecontainer" name="mobilecontainer" class="alertScreen_mobilecontainer">
                <a href="#alertPopupDialog" data-role="button" data-rel="popup" data-position-to="window" data-transition="pop" class="alertScreen_mobilebutton_alert ui-nodisc-icon" data-corners="true" data-icon="alert" data-iconpos="top" data-theme="d">ALERT</a>
                <div data-role="popup" id="alertPopupDialog" data-dismissible="false" style="max-width:400px;">
                    <div class="alert_popup_header_container" data-role="header" >
                    <h1 class="alert_popup_header">Initiate Evacuation?</h1>
                    </div>
                    <div role="main" class="ui-content">
                        <h3 class="alert_popup_msg ui-title">Alert all employees to evacuate</h3>
                        <a href="#" class="cancel_alert ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Cancel</a>
                        <a href="#" class="confirm_alert ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" data-transition="flow">Evacuate</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- warden dashboard map page -->
        <div data-role="page" id="userDashboard" class="type-interior">
            <!-- main content for warden -->
            <div data-role="content" class="userDashboard_mobilecontainer">
                <!-- header -->
                <div data-role="header" data-position="fixed" data-add-back-btn="false" data-back-btn-text="Back" class="userDashboard_mobileheader" data-theme="c">
                    <h1>&nbsp;</h1>
                    <img class="fastevac_logo_header" src="img/logo_design_1_prototype.png"/>
                </div>
                <!-- warden navbar -->
                <div data-role="footer" data-position="fixed" data-theme="a">
                    <div data-role="navbar" id="warden_navbar">
                        <ul>
                            <li><a href="#" data-href="warden_map" class="warden_map ui-nodisc-icon ui-btn-active ui-state-persist" data-icon="custom">Map</a></li>
                            <li><a href="#" data-href="warden_compass" class="warden_compass ui-nodisc-icon" data-icon="navigation">Compass</a></li>
                            <li><a href="#" data-href="warden_personnel" class="warden_personnel ui-nodisc-icon" data-icon="user">Personnel</a></li>
                            <li><a href="#broadcast_popup" data-href="warden_status" class="warden_status ui-nodisc-icon" data-icon="comment">Broadcast</a></li>
                         </ul>
                    </div>
                    <div data-role="navbar" id="employee_navbar">
                        <ul>
                            <li><a href="#" data-href="warden_map" class="warden_map ui-nodisc-icon ui-btn-active ui-state-persist" data-icon="custom">Map</a></li>
                            <li><a href="#" data-href="warden_compass" class="warden_compass ui-nodisc-icon" data-icon="navigation">Compass</a></li>
                            <li><a href="#" data-href="employee_status" class="employee_status ui-nodisc-icon" data-icon="comment">Status</a></li>
                         </ul>
                    </div>
                </div>

                <!-- content tabs for warden dashboard -->
                <!-- warden map tab -->
                <div id="warden_map_content" class="content_div">
                  <div id="map_canvas">
                     <img id="static_map_img_warden"/>
                  </div>
                </div>

                <!-- warden compass tab -->
                <div id="warden_compass_content" class="content_div">
                    <!--<div class="n">N<br><br><br>S</div>-->
                    <div class="pointer"></div>
                    <div class="distance_container"><p class="compass_distance"></p></div>
                </div>

                <!-- warden personnel tab -->
                <div id="warden_personnel_content" class="content_div">
                  <ul data-role="listview" class="ui-listview-outer">
                    <li data-role="collapsible" data-iconpos="left" data-collapsed="false" data-theme="d">
                      <h3>
                         In Need of Assistance<span class="ui-li-count" id="need_assistance_counter"></span>
                     </h3>
                     <ul data-role="listview" data-inset="true" data-theme="c" id="need_assistance_employees"></ul>
                    </li>
                    <li data-role="collapsible" data-iconpos="left" data-collapsed="false" data-theme="h">
                      <h3>
                         Not Checked In<span class="ui-li-count" id="not_checked_in_counter"></span>
                     </h3>
                     <ul data-role="listview" data-inset="true" data-theme="c" id="not_checked_in_employees"></ul>
                    </li>
                    <li data-role="collapsible" data-iconpos="left" data-collapsed="false" data-theme="d">
                      <h3 id="checked_in_list_header">
                         Checked In<span class="ui-li-count" id="checked_in_counter"></span>
                     </h3>
                     <ul data-role="listview" data-inset="true" data-theme="c" id="checked_in_employees"></ul>
                    </li>
                  </ul>
                </div>

                <!-- warden status/broadcast tab/dialog -->
                <div id="warden_status_content" class="content_div">
                </div>

            </div>
        </div>

        <!-- Start of broadcast dialog popup page -->
        <div data-role="page" id="broadcast_popup">
            <!-- /header -->
            <div data-role="header" class="broadcast_dialog_header" >
                <a role="button" href="#" data-direction="reverse" data-rel="back" class="cancel_broadcast ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-left">close</a>
                <h1>Broadcast</h1>
            </div>
            <!-- /content -->
            <div role="main" class="ui-content">
                <fieldset data-role="controlgroup" data-type="horizontal" class="broadcast_radio">
                    <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2a" value="on" checked="checked">
                    <label for="radio-choice-h-2a" class="broadcast_radio_label">All Employees</label>
                    <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2b" value="off">
                    <label for="radio-choice-h-2b" class="broadcast_radio_label">Evac Coordinators</label>
                </fieldset>
                <textarea name="textarea" id="textarea" class="broadcast_txtarea"></textarea>
                <a href="#" class="send_message ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back">Send</a>
            </div>
        </div><!-- /page popup -->

        <script src="js/main.js"></script>
        <script src="js/helper.js"></script>
        <script src="js/compass.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
