<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>FastEvac</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" sizes="196x196" href="img/touch/touch-icon-196x196.png">
        <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">

        <!-- SEO: If mobile URL is different from desktop URL, add a canonical link to the desktop page -->
        <!--
        <link rel="canonical" href="http://www.fastevac.com/" >
        -->

        <!-- Add to homescreen for Chrome on Android -->
        <!--
        <meta name="mobile-web-app-capable" content="yes">
        -->

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <!--
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        -->

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <!--
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css" />
        <link rel="stylesheet" href="squareui/jquery.mobile.squareui.min.css">
        <link rel="stylesheet" href="css/loginScreen.css">
        <link rel="stylesheet" href="css/alertScreen.css">
        <link rel="stylesheet" href="css/wardenDashboard.css">
        <link rel="stylesheet" href="css/statusScreen.css">

        <script src="js/vendor/modernizr-2.7.1.min.js"></script>
        <!--<script src="js/vendor/handlebars-v3.0.3.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/backbone-min.js"></script>
        <!--<script src="js/vendor/backbone.marionette.min.js"></script>-->
        <script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry" type="text/javascript"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>

        <div class="header"></div>

        <div id="content" class="container"></div>

        <div id="footer"></div>

        <!-- login form -->
        <script type="text/template" id="login_template">
            
                <img class="login_screen_logo_image" src="img/logo_design_1_prototype.png" id="login_screen_logo_image" name="login_screen_logo_image" />
                <form class="login_form">
                    <p class="login_error_message"></p>
                    <div class="form-group">
                        <input type="text" class="form-input" placeholder="Email" name="login_email" id="email">
                    </div>
                    <div class="form-group" id="form-password">
                        <input type="password" class="form-input" placeholder="Password" name="login_password">
                    </div>
                    <div class="form-group">
                        <div data-role="fieldcontain">
                        <label for="flip-remember" class="flip-remember-label">Remember me:</label>
                            <select name="flip-remember" id="flip-remember" class="flip-remember" data-role="slider" data-theme="c">
                                <option value="no">No</option>
                                <option value="yes" selected>Yes</option>
                            </select> 
                        </div>
                    </div>
                    <div class="form-group" id="button_container">
                        <button type="submit" class="login_button" data-theme="e">Sign In</button>
                    </div>
                    <div class="form-group">
                        <a href="http://fastevac.com" class="help_link">Help Center</a>
                    </div>
                </form>
            
        </script>

        <!--ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset
        ui-btn ui-btn-e ui-shadow ui-corner-all
        -->
        

        <script src="js/main.js"></script>
        <script src="js/helper.js"></script>
        <script src="js/compass.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        -->
    </body>
</html>
